@model AileLeve.ViewModels.CompteViewModel;
@{
    ViewBag.Title = "Accueil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container"> 
    <p>Bienvenue @Model.Compte.Identifiant</p>
    <img src="~/img/Aile'lèveV3.png" class="img-fluid" alt="Logo image">
</div>
