@{
    ViewBag.Title = "Connexion";
    Layout = "_Layout";
}
<h1 class="text-center mb-4">Se connecter</h1>


<div class="container">
    <form action="/Utilisateur/Connexion" method="post">

        <div class="row h-100 justify-content-center align-items-center form-group">
            <div class="col-6 input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                </div>
                <input type="text" class="form-control" name="identifiant" id="IdentifiantForm"
                    placeholder="Identifiant" required>
            </div>
        </div>

        <div class="row h-100 justify-content-center align-items-center form-group">
            <div class="col-6 input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
                </div>
                <input type="password" class="form-control" name="password" id="PasswordForm" placeholder="Mot de passe"
                    required>
                <div class="input-group-append">
                    <span class="input-group-text" onclick="password_show_hide();">
                        <i class="fas fa-eye" id="show_eye"></i>
                        <i class="fas fa-eye-slash d-none" id="hide_eye"></i>
                    </span>
                </div>
            </div>
        </div>

        
            <div class="row h-100 justify-content-center align-items-center form-group">
                <div class="col-3">
                    <button type="submit" class="btn">Connecter</button>
                </div>
                <div class="col-3">
                    <a type="button" href="Inscription" class="btn">Créer un compte</a>
                </div>
            </div>
        

    </form>
</div>

<script src="/Scripts/password_show_hide.js"></script>