@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center mb-4" style="margin-top:30px">Une question ?</h1>

<br />
<div class="col-sm-12 text-center">
    <h3>
    <a href="mailto:aileleve.soutienscolaire@gmail.com ">Ecrivez-nous !</a>

</h3>
</div>
<br />



<div class="text-center">
    <img src="~/img/Aile'lèveV3.png" class="img-fluid" alt="Logo image">
</div>

            