@{
    ViewBag.Title = "Inscription";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="text-center mb-5">Inscription</h1>


<div class="container">
    <form action="/Utilisateur/Inscription" method="post">
        <div class="form-group">
            <div class="row h-100 justify-content-center align-items-center">
                <label for="Nom" class="col-2">Nom</label>
                <input type="text" class="form-control col-4" name="nom" id="NomForm" placeholder="Nom" required>
            </div>
        </div>
        <div class="form-group">
            <div class="row h-100 justify-content-center align-items-center">
                <label for="Prenom" class="col-2">Prénom</label>
                <input type="text" class="form-control col-4" name="prenom" id="PrenomForm" placeholder="Prénom"
                    required>
            </div>
        </div>
        <div class="form-group">
            <div class="row h-100 justify-content-center align-items-center">
                <label for="DateNaissance" class="col-2">Date de Naissance</label>
                <input type="date" class="form-control col-4" name="dateNaissance" id="DateNaissanceForm" 
                    required>
            </div>
        </div>
        <div class="form-group">
            <div class="row h-100 justify-content-center align-items-center">
                <label for="Identifiant" class="col-2">Identifiant</label>
                <input type="text" class="form-control col-4" name="identifiant" id="IdentifiantForm"
                    placeholder="Identifiant">
            </div>
        </div>
        <div class="form-group">
            <div class="row h-100 justify-content-center align-items-center">
                <label for="Identifiant" class="col-2">Mot de passe</label>
                <input type="password" class="form-control col-4" name="password" id="PasswordForm"
                    placeholder="Mot de passe" required>
            </div>
        </div>
        <div class="form-group">
            <div class="row h-100 justify-content-center align-items-center">
                <label for="email" class="col-2">Email</label>
                <input type="email" class="form-control col-4" name="email" id="EmailForm" placeholder="Email" required>
            </div>
        </div>
         <div class="form-group">
            <div class="row h-100 justify-content-center align-items-center">
                <label for="tel" class="col-2">Téléphone</label>
                <input type="text" class="form-control col-4" name="tel" id="TelForm" placeholder="Télephone">
            </div>
        </div>
        <div class="form-group">
            <div class="row h-100 justify-content-center align-items-center">
                <label for="numeroRue" class="col-2">Numéro</label>
                <input type="number" class="form-control col-4" name="numeroRue" id="NumeroRueForm">
            </div>
        </div>
        <div class="form-group">
            <div class="row h-100 justify-content-center align-items-center">
                <label for="Rue" class="col-2">Adresse</label>
                <input type="text" class="form-control col-4" name="rue" id="RueForm">
            </div>
        </div>
        <div class="form-group">
            <div class="row h-100 justify-content-center align-items-center">
                <label for="CodePostal" class="col-2">Code Postal</label>
                <input type="number" class="form-control col-4" name="codePostal" id="CodePostalForm">
            </div>
        </div>
        <div class="form-group">
            <div class="row h-100 justify-content-center align-items-center">
                <label for="Ville" class="col-2">Ville</label>
                <input type="text" class="form-control col-4" name="ville" id="VilleForm">
            </div>
        </div>

    <div class="row h-100 justify-content-center align-items-center">
        <button type="submit" class="btn">Enregistrer</button>
    </div>
        
    </form>
</div>
