@model AileLeve.ViewModels.UtilisateurCompletViewModel;

@{
    ViewBag.Title = "Supprimer le compte";
    Layout = "~/Views/Shared/_Layout.cshtml";
    String chemin = String.Format("/home/index/{0}", @Model.Profil.Id);
}

<h1 class="text-center mb-4">Supprimer le compte</h1>

<div class="container">
    <div class="row h-100 justify-content-center align-items-center form-group">
    <div class="card col-6">
        <div class="card-body">
            <h5 class="card-title alert alert-danger text-center"> Attention </h5>
            <p class="card-text">@Model.Utilisateur.Prenom @Model.Utilisateur.Nom voulez-vous supprimer votre compte ?</p>
            <p class="card-text">Cette action est irréversible : une notification de demande de suppression du compte
                sera envoyée à l'administrateur du site.
            </p>
            <p class="card-text">Toutes vos données personnelles seront supprimées de notre base de données sous 24 heures.
            </p>

            <form action="/Utilisateur/Supprimer" method="post">
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" class="form-control" id="passwordForm" placeholder="Mot de passe" name="Compte.Password">
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn">Valider</button>
                        </div>
                        <div class="col">
                            <a href=@chemin type="button" class="btn">Annuler</a>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="Compte.Id" value="@Model.Compte.Id" />
            </form>
        </div>
    </div>
    </div>
</div>