@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center mb-4" style="margin-top:30px">A propos de nous</h1>

<div class="col-12 justify-content-center align-items-center">
    @*<h5>Présentation de la plate-forme</h5>*@
    <br />


    <ul>
        <li>
            notre objectif : mettre en  relation des <b>enseignants passionnés</b> avec des élèves ayant besoin de soutien scolaire,
        </li>
        <br />
        <li>
            nous proposons des cours <b>à distance</b>, <b>en présentiel</b> ou <b>à domicile</b>, pour <b>tous niveaux</b> et dans <b>toutes les disciplines</b>,

        </li>
        <br />
        <li>
            notre mode de recrutement des enseignants est <b>sélectif</b> avec un <b>contrôle permanent du contenu</b> des cours mis à disposition des élèves,
        </li>
        <br />
        <li>
            notre partenariat avec <b>l’application de méditation guidées "Petit Bambou"</b> permet aux élèves de développer la concentration nécessaire aux apprentissages.
        </li>

    </ul>
    <br />
</div>
<div class="col-12 justify-content-center align-items-center">
    <p>
        <b>Résultats :</b>  Aile'Lève permet de développer l’amour de l’étude, de manière solidaire, sans frontière géographique, grâce aux outils
        technologiques, afin que chaque apprenant <b>s'élève</b> aux deux sens du terme : qu'il augmente son niveau scolaire et qu’il gagne en autonomie.
    </p>
</div>
<br />
<center>
    <i style=" font-size: 20pt">
        Pour que chaque élève s'élève !
    </i>
</center>

<div class="col-12 text-center">
    <img src="~/img/Aile'lèveV3.png" class="img-fluid" alt="Logo image">
</div>