@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center mb-4" style="margin-top:30px">A propos de nous</h1>

<div class="col-sm-8">
    <h5>Présentation de la plate-forme</h5>
    <br />
    <ul>
        <li>
            à distance, en présentiel ou à domicile

        </li>
        <li>
            mise en  relation d’<b>enseignants passionnés</b> avec des élèves démotivés ou défavorisés
        </li>
        <li>
            recrutement sélectif
        </li>
        <li>
            notre partenariat avec l’application de méditation guidées "Petit Bambou" permet aux élèves de développer la concentration nécessaire aux apprentissages.
        </li>

    </ul>


</div>
