<!DOCTYPE html>

<html lang="fr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" />
</head>

<body>
    <header>

        <nav id=#navbar
            class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark text-light border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" href="/Utilisateur/Connexion"><img src="~/img/Aile'lèveV3.png" class="img-fluid"
                        alt="Logo image" id="logoImg"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link text-light" href="/Utilisateur/Connexion">Accueil</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-light" href="/Abonnement/Index">Abonnements</a>
                        </li>

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item dropdown">

                                <a class="nav-link text-light" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                    Cours
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                                    <a class="dropdown-item" href="/Cours/ListeCours">Contenu pédagogique en ligne</a>

                                    <a class="dropdown-item" href="/Enseignant/EmploiDuTempsEnseignant">
                                        Liste des cours
                                    </a>

                                    @if (User.IsInRole("Admin"))
                                    {
                                        <a class="dropdown-item" href="/Cours/Ajouter">Proposer un cours</a>
                                    }

                                    @if (User.IsInRole("Admin") || User.IsInRole("Enseignant"))
                                    {
                                        String cheminAttribuer = String.Format("/Enseignant/AttribuerCours/{0}",
                                        User.Identity.Name);
                                        <a class="dropdown-item" href=@cheminAttribuer>Cours non attribués</a>
                                    }
                                </div>
                            </li>

                            <li class="nav-item dropdown">

                                <a class="nav-link text-light" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Méditation
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                                    <a class="dropdown-item" href="/Cours/AboutMeditation">Qu'est-ce que la méditation?</a>

                                    <a class="dropdown-item" href="/Cours/SeancesMeditation">
                                        Séances de méditation guidée asynchrone
                                    </a>

                                    @if (User.IsInRole("Admin") || (User.IsInRole("Enseignant")))
                                    {
                                        <a class="dropdown-item" href="/Cours/AjouterMeditation">Proposer une séance de
                                            méditation guidée synchrone</a>
                                    }
                                </div>
                            </li>
                        }

                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown">

                                <a class="nav-link text-light" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                    Gestion
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/Admin/ListeUtilisateur">Liste des utilisateurs</a>

                                </div>

                            </li>

                        }

                        <li class="nav-item dropdown">

                            <a class="nav-link text-light" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Compte

                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/Utilisateur/Inscription">Inscription</a>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a class="dropdown-item" href="/Utilisateur/Deconnexion">Déconnexion</a>
                                    @if (!(User.IsInRole("Admin")))
                                    {
                                        <a class="dropdown-item" href="/Utilisateur/Supprimer">Supprimer</a>
                                    }

                                }
                                @if (!User.Identity.IsAuthenticated)
                                {
                                    <a class="dropdown-item" href="/Utilisateur/Connexion">Connexion</a>
                                }
                            </div>

                        <li class="nav-item">

                            <a class="nav-link text-light" href="/Visiteur/About">About</a>
                        </li>
                        <li class="nav-item">

                            <a class="nav-link text-light" href="/Visiteur/Contact">Contact</a>
                        </li>
                            @*<li class="nav-item">

                                <a class="nav-link text-light" href="/Utilisateur/Contact">Contact</a>
                                </li>*@
                    </ul>
                </div>

                @if (User.Identity.IsAuthenticated && (User.IsInRole("Admin")))
                {
                    <div class="navbar-collapse justify-content-end h-100 w-100">
                        <a class="p-2" href="#" data-toggle="tooltip" data-placement="bottom" title="Générer un pdf">
                            <h3 class="justify-content-center">
                                <i class="fas fa-print text-light mw-100 mh-100 " onclick="genererPdf()"></i>
                            </h3>
                        </a>
                        <a class="notification p-2" href="/Notification/Index" data-toggle="tooltip" data-placement="bottom"
                        title="Notification">
                            <h3 class="justify-content-center">
                                <i class="fas fa-bell text-light mw-100 mh-100" id="notif"></i>
                            </h3>
                        </a>
                    </div>
                }
            </div>
        </nav>
    </header>
    <div class="container" id="main">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; Pour que chaque élève s'élève
        </div>
    </footer>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/site.js" asp-append-version="true"></script>
    <script src="/Scripts/jsPdf/jspdf.umd.js"></script>
    <script src="/Scripts/html2canvas.min.js"></script>
    <script src="/Scripts/genererPdf.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
