@{
    ViewBag.Title = "Ajouter un cours";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<h1 class="text-center mb-4" style="margin-top:30px">Qu'est-ce que la méditation?</h1>


<div class="col-12 justify-content-center align-items-center">

    <p>
        <i>
            La méditation est une technique simple, d'entraînement de l'esprit, comme l'est la gymnastique pour le corps. On peut l'apprendre à tout âge. Elle s'adresse à tous les enfants, tant à l'enfant souffrant du trouble de déficit de l'attention (TDA-H), qu'à l’enfant dépressif, ou ayant été victime de harcèlement, qu'au surdoué. D’une manière générale tout enfant avec ou sans problème particulier peut bénéficier de cette pratique.
            La méditation apporte indéniablement une amélioration du comportement de votre enfant, en plus d'autres nombreux avantages.
        </i>
    </p>
</div>
<br />

<div class="col-12 text-center">
    <img src="~/img/meditation.png" />
</div>

<div class="col-12 justify-content-center align-items-center">

    <p>
        <b>Méditer, mais pourquoi ?</b>
        <br />
        Les enfants ne sont pas épargnés par le stress de tous les jours, au contraire de ce que l'on pourrait penser. Ils vivent de nombreux changements et des émotions tout au long de leur année scolaire. Et s'ils ne se plaignent pas, leur comportement semble parfois dire le contraire.
        Leur capacité d'adaptation est aussi souvent mise à mal à l'école et au quotidien. Face aux différents changements qui peuvent s'opérer dans leur vie, la méditation est une réponse pour plus de sérénité.
        <br />
        <br />

        <b>Quels sont les bienfaits ?</b>
        <br />
        Les scientifiques ont reconnu la méditation comme source de bienfaits. 10 minutes de méditation par jour nous apportent des bienfaits physiques et psychologiques que médecins, chercheurs et psychologues ont mis en avant.
        <br />
        Les bienfaits de la méditation guidée pour les enfants, comme pour les adultes, sont nombreux :
        <br />

        <ul>
            <li>Lors de la méditation, l'énergie circule plus facilement dans le corps et dans le cerveau, ce qui a pour effet d’abaisser la tension artérielle et de réguler le système nerveux</li>
            <li>Cela permet un apprentissage naturel d’une bonne gestion de son stress et de ses émotions tout en améliorant sa concentration</li>
            <li>Une augmentation de sa confiance en soi</li>
            <li>un renforcement du système immunitaire</li>
        </ul>
        <br />

        <b>Comment méditer?</b>
        <br />
        La méditation est un entraînement de l'esprit, comme l'est la gymnastique pour le corps. Il s'agit d'entraîner son esprit à être plus présent. Pour cela, les techniques simples se résument à faire attention à son souffle, aux sons, aux odeurs et à ses sensations corporelles. L'esprit va ainsi se libérer de pensées incessantes et des émotions négatives. C'est une meilleure qualité de vie que l'on vous propose tout simplement par le biais de la méditation.
        Suivez ce <a href="/Cours/SeancesMeditation">lien</a> pour accéder aux méditations guidées. Bonne pratique!
    </p>
</div>
<br />

