@model AileLeve.ViewModels.ComptesViewModel;
@{
    ViewBag.Title = "Liste des cours";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<h2 class="text-center mb-4">Choisissez un niveau puis sélectionnez la ou les matières</h2>



<div id="accordion">

    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    CE1
                </button>
            </h5>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body row">
                <div class="col-4">
                    <img src="~/img/boulier.png" class="iconeMatiere"> Mathématiques
                </div>

                <div class="col-4">
                    <img src="~/img/france.png" class="iconeMatiere"> Français
                </div>

                <div class="col-4">
                    <img src="~/img/globe.png" class="iconeMatiere"> Questionner le monde
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    CE2
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body row">
                <div class="col-4">
                    <img src="~/img/boulier.png" class="iconeMatiere"> Mathématiques
                </div>

                <div class="col-4">
                    <img src="~/img/france.png" class="iconeMatiere"> Français
                </div>

                <div class="col-4">
                    <img src="~/img/globe.png" class="iconeMatiere" />  Questionner le monde
                </div>
            </div>
        </div>
    </div>


    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    CM1
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body row">
                <div class="col-4">
                    <img src="~/img/boulier.png" class="iconeMatiere"> Mathématiques
                </div>

                <div class="col-4">
                    <img src="~/img/france.png" class="iconeMatiere"> Français
                </div>

                <div class="col-4">
                    <img src="~/img/couronne.png" class="iconeMatiere">  Histoire
                </div>
            </div>

            <div class="card-body row">
                <div class="col-4">
                    <img src="~/img/globe.png" class="iconeMatiere"> Géographie
                </div>
            </div>
        </div>
    </div>


    <div class="card">
        <div class="card-header" id="headingFour">
            <h5 class="mb-0">
                <button class="btn" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    CM2
                </button>
            </h5>
        </div>

        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body row">
                <div class="col-4">
                    <img src="~/img/boulier.png" class="iconeMatiere"> Mathématiques
                </div>

                <div class="col-4">
                    <img src="~/img/france.png" class="iconeMatiere"> Français
                </div>

                <div class="col-4">
                    <img src="~/img/couronne.png" class="iconeMatiere">  Histoire
                </div>
            </div>

            <div class="card-body row">
                <div class="col-4">
                    <img src="~/img/globe.png" class="iconeMatiere"> Géographie
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingFive">
            <h5 class="mb-0">
                <button class="btn" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    6ème
                </button>
            </h5>
        </div>

        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
            <div class="card-body row">
                <div class="col-4">
                    <img src="~/img/boulier.png" class="iconeMatiere"> Mathématiques
                </div>

                <div class="col-4">
                    <img src="~/img/france.png" class="iconeMatiere"> Français
                </div>

                <div class="col-4">
                    <img src="~/img/couronne.png" class="iconeMatiere">  Histoire
                </div>
            </div>

            <div class="card-body row">
                <div class="col-4">
                    <img src="~/img/globe.png" class="iconeMatiere"> Géographie
                </div>

                <div class="col-4">
                    <img src="~/img/aimant.png" class="iconeMatiere">  Physique
                </div>

                <div class="col-4">
                    <img src="~/img/chimie.png" class="iconeMatiere"> Chimie
                </div>
            </div>

            <div class="card-body row">
                <div class="col-4">
                    <img src="~/img/adn.png" class="iconeMatiere"> SVT
                </div>

                <div class="col-4">
                    <img src="~/img/royaume-uni.png" class="iconeMatiere"> Anglais
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingSix">
            <h5 class="mb-0">
                <button class="btn" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    5ème
                </button>
            </h5>
        </div>

        <div id="collapseSix" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body row">
                <div class="col-4">
                    <img src="~/img/boulier.png" class="iconeMatiere"> Mathématiques
                </div>

                <div class="col-4">
                    <img src="~/img/france.png" class="iconeMatiere"> Français
                </div>

                <div class="col-4">
                    <img src="~/img/couronne.png" class="iconeMatiere">  Histoire
                </div>
            </div>

            <div class="card-body row">
                <div class="col-4">
                    <img src="~/img/globe.png" class="iconeMatiere"> Géographie
                </div>

                <div class="col-4">
                    <img src="~/img/aimant.png" class="iconeMatiere">  Physique
                </div>

                <div class="col-4">
                    <img src="~/img/chimie.png" class="iconeMatiere"> Chimie
                </div>
            </div>

            <div class="card-body row">
                <div class="col-4">
                    <img src="~/img/adn.png" class="iconeMatiere"> SVT
                </div>

                <div class="col-4">
                    <img src="~/img/royaume-uni.png" class="iconeMatiere"> Anglais
                </div>

                <div class="col-4">
                    <img src="~/img/drapeau-allemand.png" class="iconeMatiere"> Allemand
                </div>
            </div>

            <div class="card-body row">
                <div class="col-4">
                    <img src="~/img/espagne.png" class="iconeMatiere"> Espagnol
                </div>

                <div class="col-4">
                    <img src="~/img/balance.png" class="iconeMatiere"> EMC
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingSeven">
            <h5 class="mb-0">
                <button class="btn" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                    4ème
                </button>
            </h5>
        </div>

        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
            <div class="card-body row">
                <div class="col-4">
                    <img src="~/img/boulier.png" class="iconeMatiere"> Mathématiques
                </div>

                <div class="col-4">
                    <img src="~/img/france.png" class="iconeMatiere"> Français
                </div>

                <div class="col-4">
                    <img src="~/img/couronne.png" class="iconeMatiere">  Histoire
                </div>
            </div>

            <div class="card-body row">
                <div class="col-4">
                    <img src="~/img/globe.png" class="iconeMatiere"> Géographie
                </div>

                <div class="col-4">
                    <img src="~/img/aimant.png" class="iconeMatiere">  Physique
                </div>

                <div class="col-4">
                    <img src="~/img/chimie.png" class="iconeMatiere"> Chimie
                </div>
            </div>

            <div class="card-body row">
                <div class="col-4">
                    <img src="~/img/adn.png" class="iconeMatiere"> SVT
                </div>

                <div class="col-4">
                    <img src="~/img/royaume-uni.png" class="iconeMatiere"> Anglais
                </div>

                <div class="col-4">
                    <img src="~/img/drapeau-allemand.png" class="iconeMatiere"> Allemand
                </div>
            </div>

            <div class="card-body row">
                <div class="col-4">
                    <img src="~/img/espagne.png" class="iconeMatiere"> Espagnol
                </div>

                <div class="col-4">
                    <img src="~/img/balance.png" class="iconeMatiere"> EMC
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingEight">
            <h5 class="mb-0">
                <button class="btn" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                    3ème
                </button>
            </h5>
        </div>

        <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
            <div class="card-body row">
                <div class="col-4">
                    <img src="~/img/boulier.png" class="iconeMatiere"> Mathématiques
                </div>

                <div class="col-4">
                    <img src="~/img/france.png" class="iconeMatiere"> Français
                </div>

                <div class="col-4">
                    <img src="~/img/couronne.png" class="iconeMatiere">  Histoire
                </div>
            </div>

            <div class="card-body row">
                <div class="col-4">
                    <img src="~/img/globe.png" class="iconeMatiere"> Géographie
                </div>

                <div class="col-4">
                    <img src="~/img/aimant.png" class="iconeMatiere"> Physique
                </div>

                <div class="col-4">
                    <img src="~/img/chimie.png" class="iconeMatiere"> Chimie
                </div>
            </div>

            <div class="card-body row">
                <div class="col-4">
                    <img src="~/img/adn.png" class="iconeMatiere"> SVT
                </div>

                <div class="col-4">
                    <img src="~/img/royaume-uni.png" class="iconeMatiere"> Anglais
                </div>

                <div class="col-4">
                    <img src="~/img/drapeau-allemand.png" class="iconeMatiere"> Allemand
                </div>
            </div>

            <div class="card-body row">
                <div class="col-4">
                    <img src="~/img/espagne.png" class="iconeMatiere"> Espagnol
                </div>

                <div class="col-4">
                    <img src="~/img/balance.png" class="iconeMatiere"> EMC
                </div>
            </div>
        </div>
    </div>


<div class="card">
    <div class="card-header" id="headingNine">
        <h5 class="mb-0">
            <button class="btn" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                Seconde
            </button>
        </h5>
    </div>

    <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
        <div class="card-body row">
            <div class="col-4">
                <img src="~/img/boulier.png" class="iconeMatiere"> Mathématiques
            </div>

            <div class="col-4">
                <img src="~/img/france.png" class="iconeMatiere"> Français
            </div>

            <div class="col-4">
                <img src="~/img/couronne.png" class="iconeMatiere">  Histoire
            </div>
        </div>

        <div class="card-body row">
            <div class="col-4">
                <img src="~/img/globe.png" class="iconeMatiere"> Géographie
            </div>

            <div class="col-4">
                <img src="~/img/aimant.png" class="iconeMatiere">  Physique
            </div>

            <div class="col-4">
                <img src="~/img/chimie.png" class="iconeMatiere"> Chimie
            </div>
        </div>

        <div class="card-body row">
            <div class="col-4">
                <img src="~/img/adn.png" class="iconeMatiere"> SVT
            </div>

            <div class="col-4">
                <img src="~/img/euro.png" class="iconeMatiere"> SES
            </div>

            <div class="col-4">
                <img src="~/img/royaume-uni.png" class="iconeMatiere"> Anglais
            </div>
        </div>

        <div class="card-body row">
            <div class="col-4">
                <img src="~/img/drapeau-allemand.png" class="iconeMatiere"> Allemand
            </div>

            <div class="col-4">
                <img src="~/img/espagne.png" class="iconeMatiere"> Espagnol
            </div>
        </div>
    </div>
</div>


<div class="card">
    <div class="card-header" id="headingTen">
        <h5 class="mb-0">
            <button class="btn" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                Première
            </button>
        </h5>
    </div>

    <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordion">
        <div class="card-body row">
            <div class="col-4">
                <img src="~/img/boulier.png" class="iconeMatiere"> Mathématiques
            </div>

            <div class="col-4">
                <img src="~/img/france.png" class="iconeMatiere"> Français
            </div>

            <div class="col-4">
                <img src="~/img/couronne.png" class="iconeMatiere">  Histoire
            </div>
        </div>

        <div class="card-body row">
            <div class="col-4">
                <img src="~/img/globe.png" class="iconeMatiere"> Géographie
            </div>

            <div class="col-4">
                <img src="~/img/aimant.png" class="iconeMatiere">  Physique
            </div>

            <div class="col-4">
                <img src="~/img/chimie.png" class="iconeMatiere"> Chimie
            </div>
        </div>
       
        <div class="card-body row">
             <div class="col-4">
                 <img src="~/img/ingenieur.png" class="iconeMatiere"> Enseignement scientifique
              </div>

            <div class="col-4">
                <img src="~/img/adn.png" class="iconeMatiere"> SVT
            </div>

             <div class="col-4">
                 <img src="~/img/euro.png" class="iconeMatiere"> SES
             </div>
        </div>
          

        <div class="card-body row">
            <div class="col-4">
                    <img src="~/img/royaume-uni.png" class="iconeMatiere"> Anglais
             </div>

            <div class="col-4">
                <img src="~/img/espagne.png" class="iconeMatiere"> Espagnol
            </div>

             <div class="col-4">
                <img src="~/img/geopolitique.png" class="iconeMatiere"> Géopolitique
               </div>
         </div>

        <div class="card-body row">
            <div class="col-4">
                 <img src="~/img/poesie.png" class="iconeMatiere"> Humanités
            </div>

            <div class="col-4">
                <img src="~/img/anglais.png" class="iconeMatiere"> LLCE Anglais
             </div>
        </div>
    </div>
 </div>                     

<div class="card">
    <div class="card-header" id="headingEleven">
        <h5 class="mb-0">
            <button class="btn" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                Terminale
            </button>
        </h5>
    </div>

    <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordion">

        <div class="card-body row">
            <div class="col-4">
                <img src="~/img/couronne.png" class="iconeMatiere">  Histoire
            </div>

            <div class="col-4">
                <img src="~/img/globe.png" class="iconeMatiere"> Géographie
            </div>

            <div class="col-4">
                <img src="~/img/innovation.png" class="iconeMatiere"> Enseignement scientifique
            </div>
        </div>

    <div class="card-body row">
        <div class="col-4">
            <img src="~/img/royaume-uni.png" class="iconeMatiere"> Anglais
        </div>

        <div class="col-4">
            <img src="~/img/drapeau-allemand.png" class="iconeMatiere"> Allemand
        </div>

        <div class="col-4">
            <img src="~/img/espagne.png" class="iconeMatiere"> Espagnol
        </div>
    </div>

    <div class="card-body row">
        <div class="col-4">
            <img src="~/img/poesie.png" class="iconeMatiere"> Humanités
        </div>

        <div class="col-4">
            <img src="~/img/philosopher.png" class="iconeMatiere"> Philosophie
        </div>
    </div>
 </div>
</div>



       













