@model AileLeve.ViewModels.CompteViewModel;

@{
    ViewBag.Title = "Modifier le mot de passe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Modifier le mot de passe</h1>



<div class="container mt-5" >

    <form action="Compte/ModifierPassword" method="post">


        <div class="form-group">
            <label for="Identifiant">Mot de passe actuel</label>
            <input type="password" class="form-control" name="currentPassword" id="currentPasswordForm" placeholder="Mot de passe actuel" required/>
        </div>

        <div class="form-group">
            <label for="Identifiant">Nouveau mot de passe</label>
            <input type="password" class="form-control" name="newPassword" id="newPasswordForm" placeholder="Nouveau mot de passe" required>
           <input type="hidden" class="form-control" name="Compte.NewPassword" value="@Model.Compte.Password" id="newPasswordForm" /> 
        </div>

        <div class="form-group">
            <label for="Identifiant">Confirmer nouveau mot de passe</label>
            <input type="password" class="form-control" name="newPassword" id="newPasswordForm" placeholder="Confirmer nouveau mot de passe" required>
          <input type="hidden" class="form-control" name="Compte.NewPassword" value="@Model.Compte.Password" id="newPasswordForm" /> 
        </div>

       
            <br />
            <button type="submit" class="btn btn-primary">Valider</button>
            <button type="submit" class="btn btn-primary">Annuler</button>
        </div>
    </form>
 </div>
