@model AileLeve.ViewModels.NotificationViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@* <input type="hidden" name="Notification.Id" value="@Model.Notification.Id" />
*@
<h1 class="text-center mb-4">Centre des notifications</h1>

<table class="table table-striped">
    <thead class="thead-light">
        <tr>
            <th scope="col">Description</th>
            <th scope="col"></th>
    </tr>
    </thead>

<tbody>
   
    @foreach (var item in @Model.NotificationsListe)
    {

        <tr>
             <td id="notif" class="notif-ligne">
                 <strong> 
                        @item.TypeNotification
                 </strong>
             </td>
             <td>
                 <a type="button" id="lu-btn" class="fas fa-pen text-info p-2" onclick="lu();"></a>
             </td>
             <td>
              <a type="button" href=@Url.Action("SupprimerNotif", "Notification", new { id = item.Id }) class="fas fa-trash text-danger p-2"></a>
             </td>
        </tr>

    }
</tbody>
</table>

<script src="/Scripts/lu.js"></script>