@{
    ViewBag.Title = "Abonnements";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1 class="text-center mb-4" style="margin-top:30px">Nous avons ce qu'il vous faut ! </h1>

<h5 class="text-center"> Vous trouverez ici une solution adaptée à votre besoin</h5>

<br />


<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="container text-center">
                <div class="row row-cols-1 row-cols-md-3">
                    <div class="col md-4 mb-4 align-items-stretch">
                        <div class="card shadow-sm">
                            <div class="card-header h-40 justify-content-center">
                                <h3>Essentiel</h3>
                            </div>
                            <div class="card-body justify-content-center">
                                <h1 class="my-0 font-weight-bold">
                                    9,99€
                                    <small class="text-muted">/mois</small>
                                </h1>
                                <br />
                                <br />
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>Accès illimité au contenu en ligne</li>
                                    <li>24h/24 et 7j/7</li>
                                    <li>Toutes les matières</li>
                                    <li>Tous les niveaux</li>
                                    <li>Tableau de bord en temps réel</li>
                                </ul>
                                <br />
                                <button class="btn btn-lg mb-3 align-bottom">Souscrire</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="container text-center">
                <div class="row row-cols-1 row-cols-md-3">
                    <div class="col md-4 mb-4 d-flex align-items-stretch">
                        <div class="card shadow-sm">
                            <div class="card-header h-40 justify-content-center">
                                <h3>Fondamental</h3>
                            </div>
                            <div class="card-body justify-content-center">
                                <h1 class="my-0 font-weight-bold">
                                    19,99€
                                    <small class="text-muted">/mois</small>
                                </h1>

                                <ul class="list-unstyled mt-3 mb-4">
                                    <li><h4>L'Essentiel</h4></li>
                                    <li><h4>+</h4></li>
                                    <li>Cours en visioconférence</li>
                                    <li>Des professeurs certifiés</li>
                                    <li>Séances de 50 min du lundi au samedi</li>
                                </ul>
                                <br />
                                <button class="btn btn-lg mb-3 align-bottom">Souscrire</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm-4">
            <div class="container text-center">
                <div class="row row-cols-1 row-cols-md-3">
                    <div class="col md-4 mb-4 d-flex align-items-stretch">
                        <div class="card shadow-sm ">
                            <div class="card-header h-40 justify-content-center">
                                <h3>Complétude</h3>
                            </div>
                            <div class="card-body justify-content-center">
                                <h1 class="my-0 font-weight-bold">
                                    29,99€
                                    <small class="text-muted">/mois</small>
                                </h1>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li><h4>L'Essentiel</h4></li>
                                    <li><h4>+</h4></li>
                                    <li><h4>Le Fondamental</h4></li>
                                    <li></li>
                                    <li><h4>+</h4></li>
                                    <li></li>
                                    <li>Deux cours à domicile par semaine</li>
                                    <li>Dans la matière de votre choix</li>
                                </ul>
                                <button class="btn btn-lg mb-3 align-bottom">Souscrire</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
