.navbar {
    background-color: #5C964A
}

#logoImg {
    width: 15%;
    height: 15%;
}

.bg-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

a.navbar-brand {
    white-space: normal;
    text-align: left;
    word-break: break-all;
}

.dropdown-menu {
    background-color: #5C964A;
    color: #fff;
}

.dropdown-item {
    color: #fff;
}

.dropdown-item:hover {
    background-color: #fff;
    color: #28a745;
}


a {
    color: #0366d6;
}

.btn {
    color: #fff;
    background-color: #5C964A;
    border-color: #000000;
    width: 150px;
}

.btn:hover {
    color: #fff;
    background-color: #3F6632;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #fff;
}

.border-bottom {
    border-bottom: 1px solid #fff;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.card {
    border: solid 1px black;
    margin: 5px;
    padding: 5px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    /* Vertically center the text there */
}

.iconeMatiere {
    width: 25%;
}

